{%extends 'registration/base.html'%}

{%block body%}
<form class="rounded bg-white shadow p-5" method="post">
    {%csrf_token%}
    <h3 class="text-dark fw-bolder fs-4 mb-2">Forget Password ?</h3>

    <div class="fw-normal text-muted mb-4">
        Enter your email to reset your password.
    </div>  

    <div class="form-floating mb-3">
        <input type="email" name="email" autocomplete="email" maxlength="254" required id="id_email" class="form-control" placeholder="name@example.com">
        <label for="floatingInput">Email address</label>
    </div>  

    <button type="submit" class="btn btn-primary submit_btn my-4">Submit</button>
    <a href="/login" class="btn btn-secondary submit_btn my-4 ms-3">Cancel</a> 
</form>
{%endblock%}