
{%extends 'registration/base.html'%}

{%block body%}
{%if validlink%}
<form class="rounded bg-white shadow p-5" method="post">
    {%csrf_token%}
    <div class="form-floating mb-3">
        <div class="fw-normal text-danger mb-4">
            {%for mess in messages%}{{mess}}{%endfor%}
        </div>
        <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" class="form-control">
        <label for="floatingInput">New Password</label>
    </div>  
    <div class="form-floating mb-3">
        <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" class="form-control">
        <label for="floatingInput">New Password Confirmation</label>
    </div>
    <button type="submit" class="btn btn-primary submit_btn my-4">Reset</button>
    <a href="/login" class="btn btn-secondary submit_btn my-4 ms-3">Cancel</a> 
</form>
{%else%}
<div class="rounded bg-white shadow p-5">
<h3 class="text-dark fw-bolder fs-4 mb-2">Invalid link</h3>
<div class="fw-normal text-muted mb-4">
    The link is either broken or has been used
</div>
</div>
{%endif%}
{%endblock%}
