{%extends 'supervisor/supbase.html'%}
{%load static%}

{%block css%}
<link type="text/css" rel="stylesheet" href="{%static 'assets/plugins/quill/quill.snow.css' %}">
<link type="text/css" rel="stylesheet" href="{%static 'assets/plugins/quill/quill.min.js' %}">
<link type="text/css" rel="stylesheet" href="{%static 'assets/css/logs.css' %}" />
{%endblock%}
{%block body%}
<div class="row container-fluid">
    <div class="col mx-auto">
        <div class="page-inner mt-2">
            <div id="main-wrapper">
                <h6>{{users.first_name}} {{users.last_name}}'s Weekly activity for week {{logs.week.weeknum}}</h6>

                <div class="col-md-12 col-lg-12">
                    <div class="card mg-b-20">
                        <div class="card-header">
                            <h6 class="card-header-title">Activity Done</h6>
                        </div>
                        <div class="card-body collapse show" id="objectives">
                            <div id="snow-container">
                                {{logs.activityDone | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Editor1 End -->
                <!-- Editor2 -->
                <div class="col-md-12 col-lg-12">
                    <div class="card mg-b-20">
                        <div class="card-header">
                            <h6 class="card-header-title">Challenges met</h6>
                        </div>
                        <div class="card-body collapse show" id="activity">
                            <div id="snow-container2">
                                {{logs.challangesMet | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Editor2 End -->
                <!-- Editor3 -->
                <div class="col-md-12 col-lg-12">
                    <div class="card mg-b-20">
                        <div class="card-header">
                            <h6 class="card-header-title">New skills Gained</h6>
                        </div>
                        <div class="card-body collapse show" id="collapse3">
                            <div id="snow-container3">
                                {{logs.newSkillsAquired | safe}}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Editor3 End -->
                <div class="col-md-12 col-lg-12">
                    <div class="card mg-b-20">
                        Comment: {{logs.comments}}
                        <form action="" method="post">
                            {%csrf_token%}
                            {%if logs.approved == 'True'%}
                            <span class="bg-success text-light">Approved</span>
                            <input type="radio" name="approved" value="True" onchange="this.form.submit()" checked>Approved
                            <input type="radio" name="approved" value="False" onchange="this.form.submit()">Modify
                            {%elif logs.approved == 'False'%}
                            <span class="bg-danger text-light">Modify</span>
                            <input type="radio" name="approved" value="True" onchange="this.form.submit()">Approved
                            <input type="radio" name="approved" value="False" onchange="this.form.submit()" checked>Modify
                            {%else%}
                            <span class="bg-secondary text-light">Pending</span>
                            <input type="radio" name="approved" value="True" onchange="this.form.submit()">Approved
                            <input type="radio" name="approved" value="False" onchange="this.form.submit()">Modify
                            {%endif%}<br/>
                            <textarea class="form-control" placeholder="comment here" cols="30" rows="5"  id="comment" name="comment">{{logs.comments}}</textarea>
                            <div class="col-5 mx-auto">
                                <button type="submit" class="btn btn-label-danger form-control">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- <div class="row my-2">
                    <div class="col-5 mx-auto">
                        <a href="/" class="btn btn-label-danger form-control">Back</a>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

</div>
{%endblock%}

{%block js%}
<!-- 
<script src="{%static 'assets/plugins/quill/quill.min.js' %}"></script>

<script>
    var quill = new Quill('#snow-container', {
        theme: 'snow'
    });


    var quill1 = new Quill('#snow-container2', {
        theme: 'snow'
    });
    var quill2 = new Quill('#snow-container3', {
        theme: 'snow'
    });
    quill.enable(false);
    quill1.enable(false);
    quill2.enable(false);
    function ql_value() {
        var quill_content = document.getElementById('snow-container').firstChild.innerHTML;
        alert(quill_content);
    }
    peaceJS({
        target: '#red',
        theme: 'blue',
        style: 'symbol'

    });
</script> -->
{%endblock%}
</body>

</html>