{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%block title%}
   
    {%endblock%}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://127.0.0.1/bs5/bootstrap-5.0.2/dist/css/bootstrap.min.css">
    <link href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.4/af-2.5.3/b-2.3.6/b-colvis-2.3.6/b-html5-2.3.6/b-print-2.3.6/datatables.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="{%static 'assets/css/admin.css' %}">
    {%block css%}
    {%endblock%}
</head>
<body>
    <div class="admin-pannel">
        <div id="nav"
            class="nav px-3 mt-0 pt-0 border-bottom container-fluid d-flex align-items-center justify-content-between kgn-topnav-height text-white essy">
            <div class="nav-item nav-brand"><a href="/"><img src="{%static 'favicon.ico'%}" alt="logo" width="30px"
                        height="30px"></a></div>
            <div class="user_details">
                <h4>Welcome <span class="display-6 text-light text-center" style=" font-size: 20px;">{{user.first_name}}
                        {{user.last_name}}</span>
                </h4>
            </div>
            <div class="nav-item">
                <span> <a href="/logout"> Logout</a></span>
                <span></span>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="kgn-side-bar col-auto col-md-3 col-lg-2 d-flex flex-column justify-content-between kgn-nav">
                    <div class="py-2">
                        <ul class="nav nav-pills flex-column mt-4">
                            <li class="nav-item py-2 py-sm-0" id="dashboard">
                                <a href="/adm" class="nav-link">
                                    <i class="" data-feather="activity"></i> <span
                                        class="ms-3 d-none d-sm-inline">Dashboard</span>
                                </a>
                            </li>
                            <li class="nav-item py-2 py-sm-0" id="supervisor">
                                <a href="/adm?page=supervisor" class="nav-link">
                                    <i class="" data-feather="user"></i> <span
                                        class="ms-3 d-none d-sm-inline">Supervisor</span>
                                </a>
                            </li>
                            <li class="nav-item py-2 py-sm-0" id="students">
                                <a href="/adm?page=students" class="nav-link">
                                    <i class="" data-feather="users"></i> <span
                                        class="ms-3 d-none d-sm-inline">Students</span>
                                </a>
                            </li>
                            <li class="nav-item py-2 py-sm-0" id="departments">
                                <a href="/adm?page=departments" class="nav-link">
                                    <i class="" data-feather="home"></i> <span
                                        class="ms-3 d-none d-sm-inline">Departments</span>
                                </a>
                            </li>
                            <li class="nav-item py-2 py-sm-0" id="institutions">
                                <a href="/adm?page=institutions" class="nav-link">
                                    <i class="" data-feather="book"></i> <span
                                        class="ms-3 d-none d-sm-inline">Institutions</span>
                                </a>
                            </li>
                            <li class="nav-item py-2 py-sm-0" id="weeks">
                                <a href="/adm?page=weeks" class="nav-link">
                                    <i class="" data-feather="clock"></i> <span
                                        class="ms-3 d-none d-sm-inline">Weeks</span> </a>
                            </li>
                            <li class="nav-item py-2 py-sm-0" id="sessions">
                                <a href="/adm?page=sessions" class="nav-link">
                                    <i class="" data-feather="watch"></i> <span
                                        class="ms-3 d-none d-sm-inline">Sessions</span> </a>
                            </li>
                        </ul>
                    </div>
                    <div class="py-2 text-center text-light footer">
                        &copy; Kgn 2023
                    </div>
                </div>
                <div class="px-1 col-md-9 col-lg-9 kgn-tbl-container mx-auto pb-5 pt-2 table-responsive">
                    {%block toolkit%}
                    {%endblock%}
                    {%block body%}
                    {%endblock%}
                </div>
            </div>
        </div>
    </div>
    <div class="dialog_delete dialog_action" id="dialog_delete">
    </div>
    <div class="dialog_edit dialog_action" id="add">
        <form action="add?{{request.GET.urlencode}}" method="post" autocomplete="off">
            {%csrf_token%}
            <div class="row bg-secondary px-2 pb-2 rounded w-lg-50">
                <div class="p-0 m-0 mb-1 text-end" style="float: right;"><a href="#" class="text-danger"
                        onclick="addNew('close')"><i class=" " data-feather="x-circle"></i></a></div>               
                <div class="col-12 mx-auto">
                    <label for="fname">First Name</label>
                    <input type="text" name="fname" id="fname" class="form-control" placeholder="first name (optional)">
                    <label for="lname" class="mx-auto">Last Name </label>
                    <input type="text" name="lname" id="lname" class="form-control" placeholder="last name (optional)">
                    <label for="username" class="mx-auto">Department </label>
                    <select name="department" id="department" class="form-control" required>
                        <option value="">----------------</option>
                        {%for dep in departments%}
                        <option value="{{dep.id}}">{{dep.department_name}}</option>
                        {%endfor%}
                    </select>
                    <label for="username" class="mx-auto">Username </label>
                    <input type="text" name="username" id="username" class="form-control" required
                        placeholder="username">
                    <label for="password" class="mx-auto">Password </label>
                    <input type="password" name="password" id="password" class="form-control" required
                        autocomplete="new-password" placeholder="password">
                    <label for="password" class="mx-auto">Password </label>
                    <input type="password" name="password_confirmation" id="password_confirmation" class="form-control"
                        placeholder="password">
                    <input type="submit" class="form-control mt-1 btn-dark" value="Submit">
                </div>
            </div>  
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.2.7/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.13.4/af-2.5.3/b-2.3.6/b-colvis-2.3.6/b-html5-2.3.6/b-print-2.3.6/datatables.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.29.0/feather.js"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>

    {%block javascriptlinks%}
    {%endblock%}
    <script>
        feather.replace()

        function addNew(action) {
            if (action == 'add') {
                document.getElementById('add').style = 'display:flex;'
            }
            else {
                document.getElementById('add').style = 'display:none;'
            }

        }
    </script>
    <script>        
        $(document).ready(function () {
            document.getElementById("{{page_id}}").classList.add('active');           
        });
        peaceJS('#nav');
        function delete_id() {
            $(function () {
                $("#dialog").dialog({
                    dialogClass: "no-close",
                    buttons: [
                        {
                            text: "OK",
                            icon: "ui-icon-close",
                            click: function () {
                                $(this).dialog("close");
                                alert("Deletion Succeeded");
                            }
                        },
                        {
                            text: "CANCEL",
                            click: function () {
                                $(this).dialog("close");
                            }
                        }
                    ]
                });
            });
        }
    </script> 
    {%block script%}
    {%endblock%}
</body>
</html>