{%extends 'admin/adminbase.html'%}
{%load static%}
{%block title%}
<title>Admin Dashboard</title>
    {%endblock%}
{%block css%}
<style>
</style>
{%endblock%}
{%block body%}
<div class="row clearfix container-fluid">
    <div class="col-sm-6 col-6">
        <div class="card mg-b-20">
            <div class="card-body pd-y-0">
                <div class="custom-fieldset mb-4">
                    <div class="clearfix">
                        <label>Session</label>
                    </div>
                    <div class="d-flex align-items-center text-dark">
                        <div
                            class="dashboard-1 d-flex align-items-center justify-content-center rounded card-icon-warning">
                            <i class="tx-warning tx-20" data-feather="clock"></i>
                        </div>
                        <div>
                            <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 px-3 tx-normal tx-rubik tx-dark">
                                <span class="counter mr-2">{{session_count}}</span><small class="tx-15"> sessions</small>
                            </h2>
                            <div class="d-flex align-items-center tx-gray-500">
                                <a href="/adm?page=sessions"><span class="text-success mr-2 d-flex align-items-center">
                                    <i data-feather="eye"> </i> view </span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-6">
        <div class="card mg-b-20">
            <div class="card-body pd-y-0">
                <div class="custom-fieldset mb-4">
                    <div class="clearfix">
                        <label>Students</label>
                    </div>
                    <div class="d-flex align-items-center text-dark">
                        <div
                            class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded card-icon-warning">
                            <i class="tx-warning tx-20" data-feather="users"></i>
                        </div>
                        <div>
                            <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 px-3 tx-normal tx-rubik tx-dark">
                                <span class="counter mr-2">{{student_count}}</span><small class="tx-15"> students</small>
                            </h2>
                            <div class="d-flex align-items-center tx-gray-500">
                                <a href="/adm?page=students"><span class="text-success mr-2 d-flex align-items-center">
                                    <i data-feather="eye"> </i> view </span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-6">
        <div class="card mg-b-20">
            <div class="card-body pd-y-0">
                <div class="custom-fieldset mb-4">
                    <div class="clearfix">
                        <label>Supervisors</label>
                    </div>
                    <div class="d-flex align-items-center text-dark">
                        <div
                            class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded card-icon-warning">
                            <i class="tx-warning tx-20" data-feather="user"></i>
                        </div>
                        <div>
                            <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 px-3 tx-normal tx-rubik tx-dark">
                                <span class="counter mr-2">{{supervisor_count}}</span><small class="tx-15"> supervisors</small>
                            </h2>
                            <div class="d-flex align-items-center tx-gray-500">
                                <a href="/adm?page=supervisor"><span class="text-success mr-2 d-flex align-items-center">
                                    <i data-feather="eye"> </i> view </span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-6">
        <div class="card mg-b-20">
            <div class="card-body pd-y-0">
                <div class="custom-fieldset mb-4">
                    <div class="clearfix">
                        <label>Departments</label>
                    </div>
                    <div class="d-flex align-items-center text-dark">
                        <div
                            class="wd-40 wd-md-50 ht-40 ht-md-50 mg-r-10 mg-md-r-10 d-flex align-items-center justify-content-center rounded card-icon-warning">
                            <i class="tx-warning tx-20" data-feather="home"></i>
                        </div>
                        <div>
                            <h2 class="tx-20 tx-sm-18 tx-md-24 mb-0 mt-2 mt-sm-0 px-3 tx-normal tx-rubik tx-dark">
                                <span class="counter mr-2">{{department_count}}</span><small class="tx-15"> departments</small>
                            </h2>
                            <div class="d-flex align-items-center tx-gray-500">
                                <a href="/adm?page=departments"><span class="text-success mr-2 d-flex align-items-center">
                                    <i data-feather="eye"> </i> view </span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}