
:root {
    --white: #ffffff;
    --black: #0000;
  }

.card img.inset {
    display: block !important;
    -webkit-transform: translateY(5%);
    -ms-transform: translateY(5%);
    transform: translateY(5%);
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: auto;
    border-radius: 50%;
    border: 5px solid var(--white);
    background-color: var(--white);
}

.card img.inset+.card-body {
    margin-top: 10px;
    margin-top: -10%;
}

.card .card-body .socials a {
    display: inline-block;
    text-decoration: none;
    margin: 10px 8px 0;
}


.card-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}

.card-title {
    margin-bottom: 0.75rem;
}

.card .card-body .socials a {
    display: inline-block;
    text-decoration: none;
    margin: 10px 8px 0;
}

.btn-action-button{
    padding: 5px;
    width:100px;
}

.width-small{
    width: 200px;
    border: 1px solid var(--black);
}


.logo{
    transform:rotateZ('60deg');
    border-radius: 50%;
}

select, option{
    width:calc(100% - 10px);
}